body {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 600px) {
  .hero {
    background-image: url("../assets/cover.png");
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }

  .hero::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 224, 233, 0.2);
    clip-path: polygon(100% 0, 0% 100%, 0 0);
  }

  .hero::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(185, 55, 94, 0.4);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  }

  .hero .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    align-items: center;
    top: 10px;
    z-index: 1;
  }

  .hero .navbar .name {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .hero .navbar .name p {
    margin: 0 0 10px 0;
  }

  .hero .navbar .name p.q {
    font-size: 25px;
    border-bottom: 3px solid rgba(37, 37, 37, 0.9);
    padding: 0 0 5px 0;
    margin: 0 0 5px 0;
  }

  .hero .navbar img {
    width: 50px;
    padding: 0 10px;
    box-sizing: border-box;
  }

  .inspiration {
    margin-left: 10px;
    max-width: 400px;
    position: relative;
    z-index: 1;
    color: rgba(37, 37, 37, 0.9);
  }

  .immerse {
    position: absolute;
    bottom: 10px;
    width: 80%;
    border-top: 3px solid rgba(255, 255, 255, 0.4);
    display: flex;
    align-items: center;
    box-sizing: border-box;
  }

  .immerse h2 {
    font-size: 1rem;
    color: rgba(37, 37, 37, 0.9);
  }

  .immerse img {
    width: 25px;
    padding-left: 15px;
  }

  .vessel {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .vessel img {
    width: 100%;
  }

  .vessel .vessel-text {
    width: 250px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .vessel .vessel-text p.first {
    margin: 0;
    padding: 0;
    font-size: 2rem;
  }

  .vessel .vessel-text p.second {
    padding: 0 10px;
    line-height: 1.5;
  }

  .focus {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  .focus img {
    width: 100%;
  }

  .focus .left-card img {
    height: 100%;
  }

  .focus .right-card {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }

  .focus .right-card .up-card img {
    height: 100%;
  }

  .focus .right-card .down-card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(185, 55, 94, 0.4);
  }
  .focus .right-card .down-card p {
    font-size: 2rem;
  }

  .focus-text {
    width: 100%;
    display: grid;
    grid-template-columns: 80% 20%;
  }

  .focus-text .text-left {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    line-height: 2;
    position: relative;
  }

  .focus-text .text-left p {
    padding: 0 0 10px 0;
    margin-top: 10px;
  }

  .focus-text .text-left::before {
    content: "";
    width: 100%;
    background-color: rgba(185, 55, 94, 0.4);
    height: 20px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
  }

  .focus-text .text-right {
    width: 100%;
    background-color: rgba(185, 55, 94, 0.4);
  }

  .breathe {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .breathe .breathe-img img {
    width: 100%;
  }

  .breathe .breathe-text {
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .breathe .breathe-text p.b {
    font-size: 3rem;
    margin: 0;
  }

  .breathe .breathe-text p {
    font-size: 1.5rem;
  }

  .see-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    background-color: transparent;
  }

  .see-container::before {
    content: "";
    width: 100%;
    height: 50%;
    background-color: rgba(185, 55, 94, 0.4);
    position: absolute;
    top: 30%;
  }

  .see {
    width: 80%;
    position: relative;
  }

  .see .see-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .see .see-img img {
    width: 100%;
  }

  .see-text {
    margin-top: 30px;
    padding: 0 0 30px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }

  .see-text p {
    font-size: 2rem;
    margin: 0;
    padding: 0 0 0 55px;
    box-sizing: border-box;
  }

  .afraid {
    display: grid;
    grid-template-columns: 20% 80%;
  }

  .afraid .color {
    width: 100%;
    height: 100%;
    background-color: rgba(185, 55, 94, 0.4);
  }

  .afraid .text {
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
  }

  .afraid p {
    line-height: 2;
    margin: 0;
    padding: 0;
  }
}
